* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body {
    height: 100%;
}

/* header start */

header {
    height: 48px;
    background: #24292e;
}

header .container {
    width: 80%;
    max-width: 1024px;
    margin: 0 auto;
}

header .logo {
    width: 290px;
    height: 48px;
    /* background: url('../images/logo.svg') 0px 0px no-repeat; */
    float: left;
}

header .logo:hover {
    cursor: pointer;
}

nav {
    float: right;
}

header ul {
    list-style: none;
}

header ul li {
    float: left;
    margin-right: 1em;
}

header ul li:nth-last-child(1) {
    margin-right: 0;
}

header ul li a {
    line-height: 48px;
    color: #eee;
    text-decoration: unset;
}

header ul li a:hover {
    color: rgba(255,255,255,0.75) !important;
}

header .sign-in {
    width: 48px;
    height: 48px;
    float: right;
    margin-left: 3em;
    position: relative;
    background: url('../images/git32-white.png') 8px 8px no-repeat;
}

header .sign-in:hover {
    cursor: pointer;
}

header .sign-in img {
    position: absolute;
    top: 8px;
    left: 8px;
    color: #fff;
    white-space: nowrap;
}

/* header over */