html,body,div,ul,li,header,nav,main,footer {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}




@media screen and (min-width:300px) {
    body {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 56px 56px auto 200px;
    grid-template-areas: "header header header header header"
                        "nav nav nav nav nav"
                        "main main main main main"
                        "footer footer footer footer footer";
    }
}

@media screen and (min-width: 1000px) {
    body {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 56px 56px auto 200px;
    grid-template-areas: "header header header nav nav"
                        "main main main main main"
                        "main main main main main"
                        "footer footer footer footer footer";
    }
}


/* 顶部 */
header {
    grid-area: header;
    display: flex;
    
    background: pink;
}


/* 导航 */
nav {
    grid-area: nav;
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(#eee,#ddd);
}

nav a {
    margin-right: 1rem;
}


/* 主体内容 */
main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: linear-gradient(green,pink)
}

/* 页脚 */
footer {
    grid-area: footer;
    display: flex;

    background: linear-gradient(white,gray)
}