html,body,nav,div,span,main,footer {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 60px repeat(3,auto) 100px;
    grid-template-areas: 
    "nav nav nav nav nav"
    "main main main main main"
    "main main main main main"
    "main main main main main"
    "footer footer footer footer footer"
}

/* 导航栏 */
nav {
    background-image: linear-gradient(#eee,#ddd);
    grid-area: nav;
    display: flex;
    justify-content: space-between;
}

div.logo {
    width: 200px;
    display: block;
    background-color: yellow;
    margin-left: 50px;

    transition-property: background-color;
    transition-duration: 2s;
    transition-timing-function: ease;
}

div.logo:hover {
    cursor: pointer;
    background-color: orange;
}

div.navi {
    margin-right: 50px;
    background-color: red;
    width: auto;
    display: flex;
}

div.navi-link {
    line-height: 60px;
    margin-right: 10px;
}

div.navi-link:nth-child(3) {
    margin-right: 0;
}



div.navi-link:hover {
    cursor: pointer;
    color: white;
}



/* 主要内容 */
main {
    background-color: pink;
    grid-area: main;
}


/* 页脚 */
footer {
    background-color: orange;
    grid-area: footer;
}